<div class="weui-tabbar letu-tabbar">
    <a href="{:url('Message/index')}" class="weui-tabbar__item {if condition="in_array($Request.controller,array('Message'))"}weui-bar__item--on{/if}">
      
        <p class="weui-tabbar__label">热门商品</p>
    </a>
    <a href="{:url('Index/index')}" class="weui-tabbar__item {if condition="in_array($Request.controller,array('Index'))"}weui-bar__item--on{/if}">
        <p class="weui-tabbar__label">分类</p>
    </a>
    <a href="{:url('App/index')}" class="weui-tabbar__item {if condition="in_array($Request.controller,array('App','SellFlow','CrmClue','CrmFollow','SellRecord','WorkAim','WorkSchedule'))"}weui-bar__item--on{/if}">
    <p class="weui-tabbar__label">今日之星</p>
    </a>
    <a href="{:url('My/index')}" class="weui-tabbar__item {if condition="in_array($Request.controller,array('My'))"}weui-bar__item--on{/if}">
        <p class="weui-tabbar__label">我的</p>
    </a>
</div>