<script src="/static/houtai/js/jquery-2.1.4.min.js"></script>
<script src="/static/houtai/js/fastclick.js"></script>
<script src="/static/houtai/js/jquery-weui.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        FastClick.attach(document.body);
    });
    function goBack(url){
        if(history.length > 1){
            history.back();
        }else{
            if(url != ""){
                window.location.href = url;
            }
        }
    }
</script>