<!DOCTYPE html>
<html lang="en">
<head>
    <title>{:config('site_title')}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    {include file="common:common_css" /}
    <style type="text/css">
        .weui-input{color: #000000;}
    </style>
</head>
<body ontouchstart>
<div class="page-group">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left" onclick="goBack('{:url('My/member_view',array('id'=>$model['encrypt_id']))}');"><span class="icon fa fa-angle-left"></span>返回</a>
        <h1 class="title">会员-编辑</h1>
    </header>
    <div class="content letu-form">
        <form id="frmSubmit" method="post" action="{:url('member_edit_save')}">
            <div class="weui-cells weui-cells_form letu-cells_not_top_line">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">账号名称：</label></div>
                    <div class="weui-cell__bd"><p>{$model.user_name}</p></div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">账号昵称：</label></div>
                    <div class="weui-cell__bd">
                        <input type="text" name="nickname" class="weui-input" placeholder="请输入昵称" maxlength="100" value="{$model.nickname}" />
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">手机号码：</label></div>
                    <div class="weui-cell__bd">
                        <input type="text" name="reg_mobile" class="weui-input" placeholder="请输入手机号码" maxlength="20" value="{$model.reg_mobile}" />
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">初始密码：</label></div>
                    <div class="weui-cell__bd">
                        <input type="text" name="init_password" class="weui-input" placeholder="请输入初始密码" maxlength="20" value="{$model.init_password}" />
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">性别：</label></div>
                    <div class="weui-cell__bd weui-cells_checkbox">
                        {volist name="sexList" id="vo"}
                        <label class="letu-radio-inline weui-check__label">
                            <div class="weui-cell__hd">
                                <input type="radio" name="sex" class="weui-check" value="{$key}" {if condition="$key eq $model['sex']"}checked="true"{/if}/>
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd"><p>{$vo}</p></div>
                        </label>
                        {/volist}
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">用户类型：</label></div>
                    <div class="weui-cell__bd weui-cells_checkbox">
                        {volist name="userTypeList" id="vo"}
                        <label class="letu-radio-inline weui-check__label">
                            <div class="weui-cell__hd">
                                <input type="radio" name="user_type" class="weui-check" value="{$key}" {if condition="$key eq $model['user_type']"}checked="true"{/if}/>
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd"><p>{$vo}</p></div>
                        </label>
                        {/volist}
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">用户状态：</label></div>
                    <div class="weui-cell__bd weui-cells_checkbox">
                        {volist name="userStatusList" id="vo"}
                        <label class="letu-radio-inline weui-check__label">
                            <div class="weui-cell__hd">
                                <input type="radio" name="user_status" class="weui-check" value="{$key}" {if condition="$key eq $model['user_status']"}checked="true"{/if}/>
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd"><p>{$vo}</p></div>
                        </label>
                        {/volist}
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <div class="letu-box">
                            <div class="letu-box-title">会员等级：</div>
                            <div class="letu-box-body weui-cells_checkbox">
                                {volist name="vipLevelList" id="vo"}
                                <label class="letu-radio-inline weui-check__label">
                                    <div class="weui-cell__hd">
                                        <input type="radio" name="vip_level" class="weui-check" value="{$key}" {if condition="$key eq $model['vip_level']"}checked="true"{/if}/>
                                        <i class="weui-icon-checked"></i>
                                    </div>
                                    <div class="weui-cell__bd"><p>{$vo}</p></div>
                                </label>
                                {/volist}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui-btn-area letu-btn-area">
                <button type="submit" class="weui-btn weui-btn_warn">确认保存</button>
                <input type="hidden" name="user_id" value="{$model.encrypt_id}" />
            </div>
        </form>
    </div>
</div>
{include file="common:common_js" /}
<script src="/static/houtai/js/jquery.form.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#frmSubmit").ajaxForm({
            dataType:'json',
            success:function(data){
                if(data.success){
                    $.toptip(data.msg, 'success');
                }else{
                    $.toptip(data.msg, 'error');
                }
            }
        });
    });
</script>
</body>
</html>