<!DOCTYPE html>
<html lang="en">
<head>
    <title>{:config('site_title')}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    {include file="common:common_css" /}
    <style type="text/css">
        .weui-input{color: #000000;}
    </style>
</head>
<body ontouchstart>
<div class="page-group">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left" onclick="goBack('{:url('My/index')}');"><span class="icon fa fa-angle-left"></span>返回</a>
        <h1 class="title">设置密码</h1>
    </header>
    <div class="content letu-form">
        <form id="frmSubmit" method="post" action="{:url('set_password_save')}">
            <div class="weui-cells weui-cells_form letu-cells_not_top_line">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">原始密码：</label></div>
                    <div class="weui-cell__bd">
                        <input type="password" name="old_password" class="weui-input" placeholder="请输入原始密码" maxlength="60" />
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">新的密码：</label></div>
                    <div class="weui-cell__bd">
                        <input type="password" name="new_password" class="weui-input" placeholder="请输入新的密码" maxlength="60" />
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">确认密码：</label></div>
                    <div class="weui-cell__bd">
                        <input type="password" name="confirm_password" class="weui-input" placeholder="请输入确认密码" maxlength="60" />
                    </div>
                </div>
            </div>
            <div class="weui-btn-area letu-btn-area">
                <button type="submit" class="weui-btn weui-btn_warn">保存密码</button>
            </div>
        </form>
    </div>
</div>
{include file="common:common_js" /}
<script src="/static/houtai/js/jquery.form.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#frmSubmit").ajaxForm({
            dataType:'json',
            success:function(data){
                if(data.success){
                    $.toptip(data.msg, 'success');
                }else{
                    $.toptip(data.msg, 'error');
                }
            }
        });
    });
</script>
</body>
</html>