<!DOCTYPE html>
<html lang="en">
<head>
    <title>{:config('site_title')}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    {include file="common:common_css" /}
    <style type="text/css">
        .weui-input{color: #000000;}
    </style>
</head>
<body ontouchstart>
<div class="page-group">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left" onclick="goBack('');"><span class="icon fa fa-angle-left"></span>返回</a>
        <h1 class="title">销售记录 - 编辑</h1>
    </header>
    <div class="content letu-form">
        <form id="frmSubmit" method="post" action="{:url('edit_save')}">
            <div class="weui-cells weui-cells_form letu-cells_not_top_line">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">销售日期：</label></div>
                    <div class="weui-cell__bd">
                        <input type="text" id="sell_date" name="sell_date" class="weui-input"
                               placeholder="销售日期" maxlength="20" value="{$model.sell_date|date='Y-m-d'}" />
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">销售金额：</label></div>
                    <div class="weui-cell__bd">
                        <input type="text" name="sell_money" class="weui-input" placeholder="请输入销售金额" maxlength="20" value="{$model.sell_money|floatval}" />
                    </div>
                </div>
                <div class="weui-cell weui-cell_access sel-user">
                    <div class="weui-cell__hd"><label class="weui-label">销售客户：</label></div>
                    <div class="weui-cell__bd">
                        <span id="customer_id_text">{$model.customer_name}</span>
                        <input type="hidden" id="customer_id" name="customer_id" value="{$model.customer_id}" />
                    </div>
                    <div class="weui-cell__ft"></div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <div class="letu-box">
                            <div class="letu-box-title">销售说明：</div>
                            <div class="letu-box-body">
                                <textarea name="sell_explain" class="weui-textarea" placeholder="请输入销售说明" rows="5">{$model.sell_explain}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui-btn-area letu-btn-area">
                <button type="submit" class="weui-btn weui-btn_warn">确认保存</button>
            </div>
            <input type="hidden" name="record_id" value="{:think_encrypt($model.record_id)}" />
        </form>
    </div>
</div>
{include file="common:common_js" /}
<script src="/static/houtai/js/jquery.form.min.js"></script>
<script src="/static/houtai/js/plugins/letu/letu-picker-user.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#sell_date").calendar({'dateFormat': 'yyyy-mm-dd'});

        $(".sel-user").letuPickerUser({
            titleLeft:'未选择客户',
            titleRight:'已选择客户',
            url:"{:url('Plugin/customer_list')}",
            mapKeyName:'customer_id',
            mapValueName:'customer_name',
            mapBadgeText:'regular_customer_text',
            mapBadgeId:'regular_customer',
            hiddenId:'customer_id',
            multiple:false,
            selectCallback:function(items){
                var customer_id_text = $("#customer_id_text");
                var customer_id = $("#customer_id");

                if(items.length > 0){
                    var ids = [];
                    var ids_text = [];
                    for(var i=0;i<items.length;i++){
                        ids.push(items[i].key);
                        ids_text.push(items[i].value);
                    }
                    customer_id_text.html(ids_text.join(' , '));
                    customer_id.val(ids.join(','));
                }else{
                    customer_id_text.empty();
                    customer_id.val("");
                }
            }
        });

        $("#frmSubmit").ajaxForm({
            dataType:'json',
            success:function(data){
                if(data.success){
                    $.toptip(data.msg, 'success');
                }else{
                    $.toptip(data.msg, 'error');
                }
            }
        });
    });
</script>
</body>
</html>