.letu_logo{
    width:160px;
    height:160px;
}
.login_site_title{
    text-align: center;
    color: #ff6600;
    padding: 40px 0 10px 0;
    font-size: 1.0rem;
}
.login_form{
    padding: 0 20px;
}
.login_form .weui-cell:before {
    left: 0;
}
.login_form .weui-cell{
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    padding: 10px 10px;
}
.login_form .weui-input{
    height: 32px;
}
.login_form .weui-btn-area{
    margin: 1.17647059em 0px .3em;
}
.login_form .weui-btn_primary {
    background-color: #ff6600;
}
.weui-btn_primary:not(.weui-btn_disabled):active {
    color: hsla(0,0%,100%,.6);
    background-color: #ff6600;
}
.login_verify_input{
    vertical-align: middle;
}
.login_verify_img{
    height:100%;
    width: 38%;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    top:0;
    right:0;
}
.letu_icon {
    display: block;
    width:36px;
    height:26px;
    font: normal normal normal 22px/1 FontAwesome;
    text-align: center;
    vertical-align: middle;
    padding: 3px 2px;
    color: #909090;
}
.login_msg{
    margin: 10px;
    text-align: center;
    font-weight: 600;
    height: 25px;
}
.login_success{
    color: #31ad12;
}
.login_error{
    color: #ff0000;
}