{extend name="adminblue/base" /}
{block name="resources"/}
<script type="text/javascript" src="__STATIC__/My97DatePicker/WdatePicker.js"></script>
{/block}
{block name="main"}
<table class="mytable">
	<tr>
		<td width="10%">
			<input type="text" id='startDate' placeholder="请选择开始日期" class="input-medium input-common" onclick="WdatePicker()"/>
			&nbsp;-&nbsp;
			<input type="text" id='endDate' placeholder="请选择结束日期" class="input-medium input-common" onclick="WdatePicker()" />
			<select id="pay_type" class="select-common">
				<option value="">选择支付方式</option>
				<!--<option value="1">在线支付</option>-->
				<option value="2">微信支付</option>
				<option value="3">支付宝</option>
				<!--<option value="4">银联卡</option>-->
				<!--<option value="5">货到付款</option>-->
				<!--<option value="6">余额支付</option>-->
				<!--<option value="7">到店支付</option>-->
				<!--<option value="11">线下支付</option>-->
			</select>
			<!--<input type="text" id='search_text' placeholder="请输入会员昵称" class="input-common" />-->
			<input type="button" onclick="searchData()" value="搜索" class="btn-common"/>
		</td>
	</tr>
</table>
<table class="table-class">
	<thead>
		<tr align="center">
			<!--<th>会员昵称</th>-->
			<th style="text-align:left;">类别</th>
			<th style="text-align:left;">金额</th>
			<th style="text-align:left;">描述</th>
			<!-- <th style="text-align:left;">订单号</th> -->
			<th style="text-align:left;">交易号</th>
			<th>支付时间</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

{/block}
{block name="script"}
<script type="text/javascript">
function LoadingInfo(page_index) {
	var search_text = $("#search_text").val();
	var start_date = $("#startDate").val();
	var pay_type = $("#pay_type").val();
	var end_date = $("#endDate").val();
	$.ajax({
		type : "post",
		url : "{:__url('ADMIN_MAIN/member/paymentlist')}",
		data : { "page_index" : page_index, "page_size" : $("#showNumber").val(), "search_text":search_text, "pay_type":pay_type, "start_date":start_date, "end_date":end_date },
		success : function(data) {
//			console.log(data);return;
			var html = '';
			if (data["data"].length > 0) {
				for (var i = 0; i < data["data"].length; i++) {
					html += '<tr align="center">';
//					if(data["data"][i]["user_name"]){
//                        html += '<td>'+ data["data"][i]["user_name"] +'</td>';
//					}else if(data["data"][i]["user_name_bo"]){
//						html += '<td>'+ data["data"][i]["user_name_bo"] +'</td>';
//					}else{
//                        html += '<td>--</td>';
//					}
					html += '<td style="text-align:left;">'+data["data"][i]["type_name"]+'</td>';
					html += '<td style="text-align:left;">'+ data["data"][i]["pay_money"] +'</td>';
					html += '<td style="text-align:left;">'+ data["data"][i]["pay_detail"] +'</td>';
					<!-- html += '<td style="text-align:left;">'+ data["data"][i]["order_no"] +'</td>'; -->
			if(data["data"][i]["out_trade_no"]){
                    html += '<td style="text-align:left;">'+ data["data"][i]["out_trade_no"] +'</td>';
				}else{
                    html += '<td style="text-align:left;">'+ data["data"][i]["outtrade_no"] +'</td>';
				}
					html += '<td align="center">'+ timeStampTurnTime(data["data"][i]["pay_time"]) +'</td>';
					html += '</tr>';
				}
                html += '<tr ><td >合计：</td><td colspan="9">'+data["sum"]+'</td></tr>';
			} else {
				html += '<tr align="center"><td colspan="9">暂无符合条件的数据记录</td></tr>';
			}
			$(".table-class tbody").html(html);
			initPageData(data["page_count"],data['data'].length,data['total_count']);
			$("#pageNumber").html(pagenumShow(jumpNumber,$("#page_count").val(),{$pageshow}));
		}
	});
}

function searchData(){
	LoadingInfo(1);
}
</script>
{/block}